.instagram {
    margin-left: 80px;
    margin-right: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #BDBDBD;
    flex-wrap: wrap;

    .img{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}